<div class="container-fluid mt-4 px-4">
  <% if (typeof success !=='undefined' && success) { %>
    <div class="alert alert-success " role="alert" >
      Create user succeed!
    </div>
    <% } %>
</div>
hello world with ejs
<div>
  <a href="/createUser">Create a new user</a>
</div>

<script>
  setTimeout(function () {
    const alertBox = document.querySelector('.alert');
    if (alertBox) {
      alertBox.style.transition = "opacity 0.5s ease";
      alertBox.style.opacity = "0";
      setTimeout(() => alertBox.remove(), 500); // xóa hẳn sau khi mờ
    }
  }, 500); // 1 giây
</script>